<div class="movies" *ngFor="let movie of movies">  
  <app-panel>
    <ng-container class="heading">
      <h3>{{ movie.name }} <span class="small">(rating: <app-favorite (change)="onFavoriteChanged($event)"></app-favorite>)</span></h3>  
    </ng-container>
    <ng-container class="body">
      {{ movie.description }}
      <app-like 
        [likesCount]="tweet.likesCount"
        [isActive]="tweet.isLiked"
      ></app-like>
    </ng-container>
</app-panel>
</div>

<!-- <app-test-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-test-favorite> -->

<!-- <app-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>Body</h2>  
    <p>Some content...</p>
  </div>
</app-panel> -->